{% extends "ecommerce/base.html" %}
{% block content %}
  <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>


<div class= "container">
    <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"> <h4>Balance {{ user_order_info.balance }}</h4></li>
                <li class="collection-item">
                    <i class="material-icons circle blue">business_center</i>
                    <span class="title"> Weekly spent money </span>
                        <p>Bought{{ user_order_info.bought_last_week }} tickets</p>
                        <p >Spent: {{ user_order_info.spent_money_week }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>
                </li>
                <li class="collection-item">
                    <i class="material-icons circle blue">business_center</i>
                    <span class="title"> Monthly spent money  </span>
                        <p>Bought{{ user_order_info.bought_last_month}} tickets</p>
                        <p >Spent: {{ user_order_info.spent_money_month }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>
                </li>
                <li class="collection-item">
                    <i class="material-icons circle blue">business_center</i>
                    <span class="title"> Yearly spent money </span>
                        <p>Bought{{ user_order_info.bought_last_year }} tickets</p>
                        <p >Spent: {{ user_order_info.spent_money_year }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>

                </li>
            </ul>
        <a href="{% url 'ecommerce:user_tickets' %}">See your tickets </a>
        </div>
    </div>
<div class="container pt-30">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <form class="col s12" action="." method="POST"
                      enctype="multipart/form-data" autocomplete="off" novalidate>
                        {% csrf_token %}

                        <div class="input-field col m6 s12">
                            {{ form.ticket}}
                            <label for="{{form.ticket.id_for_label}}">Ticket</label>
                            {% for error in form.errors.ticket %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="input-field col m6 s12">
                            {{ form.price}}
                            <label for="{{form.price.id_for_label}}">Price</label>
                            {% for error in form.errors.price %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                         <div class="input-field col s12 m4 l4">
                            {{ form.start_date_day }}
                            <label for="{{form.start_date_day.id_for_label}}">Start date day</label>
                            {% for error in form.errors.start_date_day %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="input-field col s12 m4 l4">
                            {{ form.start_date_time }}
                            <label for="{{form.start_date_time.id_for_label}}">Start date time</label>
                            {% for error in form.errors.start_date_time %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    <div class="row">
                        <div class="input-field col s12 m4 ">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Buy
                                <i class="material-icons right">send</i>
                            </button>
                            <a href="{% url 'user:user_logout' %}">Log out </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

