<div class= "container">
    <div class="row">
            <ul class="collection with-header">
                <li class="collection-header"> <h4>Balance</h4></li>
                <li class="collection-item">
                    <span class="title"> Weekly spent money </span>
                        <p>Bought{{ bought_last_week }} tickets</p>
                        <p >Spent: {{ spent_money_week }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>
                </li>
                <li class="collection-item">
                    <i class="material-icons circle blue">business_center</i>
                    <span class="title"> Monthly spent money  </span>
                        <p>Bought{{ bought_last_month}} tickets</p>
                        <p >Spent: {{ spent_money_month }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>
                </li>
                <li class="collection-item">
                    <i class="material-icons circle blue">business_center</i>
                    <span class="title"> Yearly spent money </span>
                        <p>Bought{{ bought_last_year }} tickets</p>
                        <p >Spent: {{ spent_money_year }}</p>
                    <a href="" class="secondary-content">
                        <i class="material-icons">attach_money</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
  <form action="." class="col s6" method="post">
      {% csrf_token %}
      {{ order_form }}
      <input type="submit">
  </form>
</div>

